.coupon-select {
  .coupon-select__search {
    margin-bottom: 16px;

    .le-coupon-page_search {
      width: 367px;
    }
  }

  /deep/ .le-table-row {
    height: 64px;
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #262626;
  }

  .coupon-select__page {
    padding-top: 24px;
  }

  .le-table-status {
    width: 68px;
    height: 28px;
    line-height: 26px;
    text-align: center;
    background: #ffffff;
    border-radius: 4px;
    font-size: 12px;
    font-family: Microsoft YaHei;
    font-weight: 400;
  }

  .le-status-success {
    color: #53c41a;
    border: 1px solid #53c41a;
  }

  .le-status-gray {
    color: rgba(0, 0, 0, 0.65);
    border: 1px solid #bebebe;
  }

  .le-status-caveat {
    border: 1px solid #fbad15;
    color: #fbad15;
  }
}
